<% @messages.each do |message| %>
  <div class ="message">
    
    <p>
      <a href="/messages/<%= message.id %>"><%= message.content %></a><br>
      -- <%= message.author %>
    </p>
    <p>
      <small><a href="%= message.url %"><%= message.url %></a></small><br>
    </p>
  </div>
<% end %>

<a href="/messages/new">Post a message... It's FREE (for now)!</a>

