<form>
  <div>
    <label>Author:</label>
    <input type="text" name="author">
  </div>
  <div>
    <label>Subject:</label>
    <input type="text" name="title">
  </div>
  <div>
    <label>Content:</label>
    <input type ="text" name="content">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>